<!-- app/views/sessions/new.html.erb -->

<link rel="stylesheet" type="text/css" href="page_log_reg_v4.css">

	<div class="container-fluid">
		<div class="row equal-height-columns">
			<div class="col-md-6 col-sm-6 hidden-xs image-block equal-height-column"></div>

			<div class="col-md-6 col-sm-6 form-block equal-height-column">
				<a href="index.html">
          <%= image_tag("logo.png", size: "75%", alt: "DriveABLE") %>
				</a>
				<h3 class="margin-bottom-30">Login To Your Account</h3>
				<%= form_tag '/login' do %>
					<div class="login-block">
						<div class="input-group margin-bottom-20">
							<span class="input-group-addon rounded-left"><i class="fa fa-user" aria-hidden="true"></i></span>
							<%= text_field_tag :email, "", placeholder: 'Email Address', class: 'form-control rounded-right' %>
						</div>

						<div class="input-group margin-bottom-20">
							<span class="input-group-addon rounded-left"><i class="fa fa-lock" aria-hidden="true"></i></span>
							<%= password_field_tag :password, "", placeholder: 'Password', class: 'form-control rounded-right' %>
						</div>

						<div class="row margin-bottom-70">
							<div class="col-md-12">
								<%= submit_tag "Sign In", class: 'btn-u btn-u-blue btn-block rounded' %>
                <% end %>
							</div>
						</div>
						</div>
					</div>
			</div>
		</div>
	</div><!--/container-->

	<!--=== Sticky Footer ===-->
	<div class="container sticky-footer">
		<p class="copyright-space">
			2016 &copy; All Rights Reserved.
		</p>
	</div>
	<!--=== End Sticky Footer ===-->

	<script>
		jQuery(document).ready(function() {
			App.init();
		});
	</script>
