<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<!--  user info -->
<% if current_user %>
  Signed in as <%= current_user.name %> | <%= link_to "Logout", '/logout' %>
<% else %>
  <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
<% end %>
<br>
<h3>Instances</h3>
<table class="table table-hover">
  <tr>
      <th>Instance ID</th>
      <th>Public DNS</th>
      <th>State</th>
      <th>Tags</th>
      <th>Actions</th>
    </tr>
    <tr>
      <% @ec2.instances.each do |ec2|  %>
      <td><%= ec2.id %></td>
      <td><%= ec2.public_dns_name %></td>
      <td><%= ec2.state.name %></td>
      <td><%= ec2.tags[key: = 'Name'] %></td>
      <td><a href="/start/<%= ec2.id %>">Start</a> -- <a href="/stop/<%= ec2.id %>">Stop</a></td>
    </tr>
    <% end  %>
</table>
