<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<!--  user info -->
<% if current_user %>
  Signed in as <%= current_user.name %> | <%= link_to "Logout", '/logout' %>
<% else %>
  <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
<% end %>


<h3> Instances </h3>
<ul>
<% @ec2.instances.each do |ec2|  %>
<p><%= ec2.id %>
<%= ec2.state.name %>
-- <a href="/start/<%= ec2.id %>">Start</a> -- <a href="/stop/<%= ec2.id %>">Stop</a>
</p>

<% end  %>
</ul>

